@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto&display=swap');
*{
     box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    Font-family: Poppins;
}
  /*------- header style------  */
header{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner{
    display: flex;
    width: 80%;
    background-color: #161616;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
.banner-text{
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 50px;
}
.banner-title{
    font-weight: Bold;
    Font-size: 50px;
    align:left;
    vertical-align: top;
    color:#FFFFFF ;
}
.banner-info p{
    font-size: 16px;
    color:#FFFFFF ;
}
.banner-btn button{
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.fa-angle-right{
    margin-left: 10px;
}

.banner-image{
    width: 50%;
}
.banner-image img{
    width: 100%;
}

/*------ main style-----  */

/* aside style  */
main{
    display: flex;
    height: auto;
    width: 100%;
    margin-bottom:20px;
}
aside{
    height: 312px;
    width: 312px;
    padding: 30px;
    background-color:#161616;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;

}
.aside-btn{
    width: 252px;
    height: 64px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside-btn a{
    text-decoration: none;
    font-size: 20px;
    color: black; 
}
.special-btn{
    width: 252px;
    height: 64px;
    border-radius: 10px;
    background-color:#DD0000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.special-btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
/* card style  */

article{
    width:100%;
}
.article-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 25px;
    grid-column-gap:5px;
    margin-left: 20px;
}
.article-card{
     width: 100%;
    border-radius:5px;  
    box-shadow: 0px 5px 5px gray; 
}
.card-image img{
    width: 100%;
}
.card-btn{
    width: 100px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
.card-btn a {
    text-decoration: none;
}
.card-title{
    font-size: 18px;
    margin: 10px;
}
.card-info{
   display: flex;
   gap: 5px;
   padding: 5px;
}
.card-icon{
    display:flex;
    gap: 5px;

}
/* footer style  */
footer{
    display: flex;
   background-color: #161616;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}
.footer-title h1{
    font-size:40px;
    color:white;
    padding: 50px;
}
hr{
    width: 80%;
    margin-bottom: 40px;
}
footer .about{
    display: flex;
}
.contact a{
    text-decoration: none;
    color: white;
    padding: 20px;
}